/* menu- header */
body{
	background-color: rgb(206, 203, 203);
}
h1 {
	text-align: center;
}
a {background: rgb(109, 108, 70);}

nav {
	margin: 1vw;
}

ul{
	list-style: none;
	text-align: center;
	background: rgb(124, 87, 44);
	border-radius: 25px;
	border: #525050;
	border-style: solid;
}

li {
	display: inline-block;
	font-size: 20px;
	margin: 25px;
}
ul li a:hover {
	background-color: rgb(31, 76, 94);
	color: rgb(98, 155, 165);

}
a {text-decoration: none;
   color: rgb(241, 233, 233);
   padding: 10px;
  }

  #encabezado {
	  margin: 1vw;
	  border-radius: 10px;
	  text-align: center;
	background-color: rgb(227, 233, 233);
	text-decoration: none;
	color: rgb(31, 29, 29);
  }

 .padre {
	 margin: 2vw;
	 border-radius: 10px;
	 background-color: rgb(65, 65, 54);
	 display: inline-flex;
	 
	 
	 
	/*box-sizing: content-box;
  	text-align: center;*/	 
 }

 .padre2 {
	margin: 2vw;
	border-radius: 10px;
	background-color: rgb(65, 65, 54);
	display: inline-flex;
	
	
	
   /*box-sizing: content-box;
	 text-align: center;*/	 
}

.fotos {
	align-items:stretch;
	padding: 1vw;
	margin: 1vw;
	display:inline-flex;
	
 
}

.foto {
	
	margin: 5px;
}

 img {
	 margin-top: 2vh;
	max-width: 100%;
	max-height: 100%;
  }


  /*pie de pagina*/
.otraSeccion{
	text-align: center;
  	margin: 10px 0px;
  	display: block;
  }
  .otraSeccion h3{
  	letter-spacing: 4px;
  	font-size: 20px; 
}